.address-con{
    width: 100%;
    background: #fff;
    padding-left: 0.1rem;
   .add-name{
    width: 3.65rem;
    height:0.44rem;
    border-bottom: 1px solid #ccc;
    margin-top: 0.02rem;
    span{
        width: 0.8rem;
        display: inline-block;
    }
    input{
        width: 2.33rem;
        height: 0.43rem;
        border: none;
        outline: none;
    }
}

}
.add-save{
    width: 3.47rem;
    height: 0.47rem;
    display: block;
    background: #bfbfbf;
    border-radius: 0.15rem;
    margin: 0.5rem auto;
    text-align: center;
    line-height: 0.47rem;
    font-size: 0.18rem;
    color: white;
}
